.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #f9dada;
}

img {
    margin-left: 50px;
    margin-top: auto;
}

.h-custom {
    height: calc(100% - 100px);
}

.btn {
    background-color: rgb(237, 157, 216);
    color: white;
}

.btn:hover {
    background-color: rgb(182, 191, 246);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

span {
    color: red;
}

h1 {
    text-align: center;
    font-size: larger;
    color: green;
    font-weight: bolder;
}